.login-screen-container {
  display: flex;
  justify-content: center;
  margin: 0px 10px;
}

.login-screen-content-container {
  max-width: 500px;
  flex: 1;
  text-align: center;
}

.login-inputs {
  text-align: left;
  margin: 10px 0px;
}

.login-link-footer {
  margin-top: 20px;
}
